 *{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
 }
 #container{
    width: 100%;
    height: 100vh;
    background-color: black;
    padding: 10px;
    background-image: url(https://i.pinimg.com/1200x/55/82/0c/55820c9db4e57761ac30fa7dfb83a87b.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding-top: 4%;
    padding-right: 3%;
  
 }

 #todo-app{
    height: 50vh;
    width: 100%;
    max-width: 620px;
    background: rgb(80, 79, 79);
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
  
 }
 #todo-app h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

 }
#todo-app h2 img{
    width: 30px;
    margin-left: 10px;


}
#row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0 ;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

}
button{
     border: none;
    outline: none;
    padding: 16px 50px;
    background: black;
    color:#fff ;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;


}
ul li {
    list-style: none;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    padding: 12px 8px 12px 50px;
    position: relative;

}

ul li::before{
content: '';
position:absolute;
height: 20px;
width: 20px;
border-radius: 50%;
background-image: url(images/unchecked.png);
background-size: cover;
background-position: center;
top: 12px;
left: 8px;
}

ul li.checked{
    color: #fff;
    text-decoration: line-through;

}

ul li.checked::before{
    background-image:url(images/checked.png) ;
    background-color: black;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;


}

ul li span:hover{
    background: gray;

}

    /* Dark Mode Support */
        @media (prefers-color-scheme: dark) {
            .todo-container {
                background: #1a1a1a;
                color: #ffffff;
            }
        }

           /* Responsive Design */
        @media (max-width: 768px) {
            .container {
                padding: 10px;
            }
            
            .app-header h1 {
                font-size: 2.2rem;
            }
            
            .todo-card {
                padding: 20px;
            }
            
            .input-container {
                flex-direction: column;
            }
            
            #add-btn {
                justify-content: center;
                padding: 18px;
            }
            
            .filter-container {
                justify-content: space-between;
            }
            
            .filter-btn {
                flex: 1;
                padding: 12px 15px;
                font-size: 0.9rem;
            }
            
            .todo-item {
                padding: 15px;
            }
            
            .todo-actions {
                flex-direction: column;
                gap: 8px;
            }
            
            .todo-btn {
                width: 35px;
                height: 35px;
            }
        }

        @media (max-width: 480px) {
            .app-header h1 {
                font-size: 1.8rem;
            }
            
            .stats-container {
                flex-direction: column;
                gap: 15px;
            }
            
            .stat-value {
                font-size: 1.5rem;
            }
            
            .todo-text {
                font-size: 1rem;
            }
            
            .filter-container {
                flex-direction: column;
            }
        }
